*
{
    box-sizing: border-box;
    font-family: Arial;
    font-size: 25px;
   
}
:root{
    --color1: #D89584;
    --color2: #f4f4f4;
    --color3: #f4f4f4;
    --color4: black;
}
body{
    margin: 0;
    font-family: Arial;
    line-height: 1.6;
}

div.cover
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Images/image.jpg) no-repeat center/cover;
}
img.sans{
    height: 90px;
    position: relative;
    left: 47%;
    margin-right: -50px;
    margin-top: 30px;
    border-radius: 60%;
}
img.sans1{
    height: 90px;
    position: relative;
    left: 47%;
    margin-right: -50px;
    margin-top: 30px;
    border-radius: 60%;
}
.chad
{
    font-size: 14px;
}
h1{
    color: var(--color3);
    text-align: center;
    font-size: 40px;
    margin-top: 4px;
    margin-bottom: 0px;
}
div.cover p{
    color: var(--color3);
    text-align: center;
}
div.cover-contact
{
    position: absolute;
    top: 8px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    font-size: 30px;
    overflow: auto;
}
div.cover-contact p {
    color: var(--color3);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
}
div.cover-contact p:first-child
{
    margin-bottom: 8px;
}
div.cover-contact a 
{
    color: var(--color3);
    font-size: 14px;
}
a.contact-button
{
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: black;
    display: inline-block;
    margin-top: 2px;
    font-size: 14px;
    overflow: auto;
}
a.contact-button:hover
{
    color: white;
    border: 3px solid white;
}
div.section-gris1
{
    background-color: var(--color2);
    height: 120px;

}
div.section-gris1 p{
    font-size: 20px;
    color: #656565;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
.section
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
div.section-blanche
{
    overflow: auto;
}
h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}
div.separateur
{
    background-color: #979797;
    height: 2px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}
.col40
{
    width: 40%;
    border-radius: 50%;

}

.col60
{
    width: 60%;
    height: auto;
}
div.text-avec-ligne-vertical p, li{
    font-size: 12px;
}
.gauche
{
    float: right;
}
div.text-avec-ligne-vertical
{
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
div.text-avec-ligne-vertical p
{
    margin-top: 0px;
}
div.vertical
{
    height: 50px;
    width: 7px;
    background-color: var(--color1);
    margin-right: 8px;
}
div.gris2
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color2);
    overflow: auto;
}
td.lien{
     padding-left: 120px;
}
.col-portfolio
{
    position: relative;
    width: 100%;
    text-align: center;
}
div.frame
{
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
    overflow: auto;
}
.parlon
{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.bir
{
    border-radius: 60%;
    width: 220px;
}
.men1
{
    background-color: var(--color2);;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen  and (max-width: 768px)
{
    img.sans{
        height: 90px;
        position: relative;
        margin-top: 90px;
        width: 180px;
        border-radius: 50%;
        left: 25%;
        margin-right: 50px;
    }
    img.sans1{
        height: 90px;
        position: relative;
        margin-top: 20px;
        width: 180px;
        border-radius: 50%;
        left: 25%;
        margin-right: 50px;
    }
    h1{
        font-size: 28px;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    div.cover p{
        margin-top: 2px;
        font-size: 13px;
    }
    div.section-gris1 p{
        font-size: 15px;
        color: black;
        text-align: center;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.0;
    }
    .section
{
    padding-left: 20px;
    padding-right: 20px;
   
}
h2{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}
.col40
{
    width: 100%;
    border-radius: 50%;

}

.col60
{
    width: 100%;
    height: auto;
}
.special
{
    font-size: 15px;

}
.normal
{
    font-size: 15px;
}
div.text-avec-ligne-vertical a{
    font-size: 15px;
}
h2
{
    text-align: center;
}
div.gris2
{
    padding-left: 10px;
    background-color: var(--color2);
    overflow: auto;
}
div.gris2
{
    padding-left: 20px;
    background-color: var(--color2);
    
}
td.lien{
    padding-left: 0px;
}
.col-portfolio img {
    width: 100%;
}
.col-portfolio a{
    font-size: 11px;
}
div.frame
{
    margin: 10px 10px  0px 0px;
    padding: 10px 10px;
    width: 100%;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
}
div.frame p {
    font-size: 10px;
}
div.frame img
{
    width:70px;
}
}
